

<% if @posts.present? %>
<% @posts.each do |post| %>

<div class="page-header">
  <h1>  <%= post.title %></h1>
</div>



<p class="lead">
 <%= markdown(post.body) %>
</p>

<%= post.user.name %>
<%= post.created_at %>

<%= link_to admin_post_path(post), :class=>"btn btn-mini" do %><i class="icon-file"></i> Ler tudo<% end %>

<% end %>
<% else %>
<strong><%= ta(Post, 'not_found') %></strong>
<% end %>
